<ngx-charts-line-chart
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  [results]="multi"
  [xScaleMin]="xScaleMin"
  [xScaleMax]="xScaleMax"
  [yScaleMin]="yScaleMin"
  [yScaleMax]="yScaleMax"
  [xAxisTicks]="xAxisTicks"
  [yAxisTicks]="yAxisTicks"
  [animations]="false"
  [xAxisTickFormatting]="computeXTickFormatting"
  [yAxisTickFormatting]="computeYTickFormatting"
  >

  <ng-template #tooltipTemplate let-model="model">
    <div style="padding: 5px 5px;">
      <strong>{{ formatDeg(model.value) }}</strong> at {{ formatHour(model.name) }}
    </div>
  </ng-template>

</ngx-charts-line-chart>
