:host {
  margin-top: 20px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: stretch;

}

.container-1 {
  text-transform: uppercase;
  text-align: center;
}

.container-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-3 {
  height: 250px;
}

.container-4 {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-5 {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-7 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container-8 {
  display: flex;
  flex-direction: row;
}

.container-9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.container-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-11 {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.latitude-label {
  padding-bottom: 10px;
}

.latitude-slider {
  height: 200px;
  margin-bottom: 3px;
}

.obliquity-slider {
  width: 200px;
}

.date-slider {
  width: 350px;
}
