<h1 class="container-1">Sunshine</h1>
<div class="container-2">
  <div class="container-4">
    <div class="container-7">
      <div class="container-10">
        <div class="obliquity-label"><strong>Obliquity: {{displayLatitude(incli_deg)}}</strong></div>
        <mat-slider class="obliquity-slider" invert min="0" max="90" step="1" [value]="incli_deg"
          (input)="onObliquityChange($event)"></mat-slider>
        <app-latitude-canvas [obliquity]="incli_deg" [latitude]="lati_deg"></app-latitude-canvas>
      </div>
      <div class="container-11">
        <div class="latitude-label"><strong>Latitude: {{displayLatitude(lati_deg)}}</strong></div>
        <mat-slider class="latitude-slider" vertical min="-90" max="90" step="1" [value]="lati_deg"
          (input)="onLatitudeChange($event)"></mat-slider>
      </div>
    </div>
    <div class="container-9">
      <div class="date-label"><strong>{{displayDate(days)}}</strong></div>
      <mat-slider class="date-slider" min="0" [max]="day_count - 1" step="1" [value]="days"
        (input)="onDateChange($event)"></mat-slider>
    </div>
  </div>
  <app-path-canvas class="container-5" *ngIf="traj" [points]="pathPoints" [crop]="crop"></app-path-canvas>
</div>
<app-path-plot class="container-3" *ngIf="traj" [points]="chartPoints" [crop]="crop"></app-path-plot>